model_arch: PointNet  # can be override by hyper_parameters.csv file
model_name: SimplePointNet # can be override by hyper_parameters.csv file
experiment_batch_name: training_constant
base_path: /work/home/<user>/Chalmers/code/cfd-aero-pytorch

datasets:
  AhmedML:
    stl_path: inputs/ahmed_ml/stl
    target_data_path: inputs/ahmed_ml/targets.csv
    id_col: "run"
    target_col: " cd"
    target_col_alias: "Drag"  # use to keep same name in target
    subset_dir: inputs/ahmed_ml/subset
  WindsorML:
    stl_path: inputs/windsor_ml/stl
    target_data_path: inputs/windsor_ml/targets.csv
    id_col: "run"
    target_col: " cd"
    target_col_alias: "Drag"  # use to keep same name in target
    subset_dir: inputs/windsor_ml/subset
  DrivAerML:
    stl_path: inputs/drivaer_ml/stl
    target_data_path: inputs/drivaer_ml/targets.csv
    id_col: "Design"
    target_col: "Average Cd"
    target_col_alias: "Drag"  # use to keep same name in target
    subset_dir: inputs/drivaer_ml/subset
  DrivAerNet:
    stl_path: inputs/drivaer_net/stl
    target_data_path: inputs/drivaer_net/targets.csv
    id_col: "Design"
    target_col: "Average Cd"
    #target_col: "p"
    target_col_alias: "Drag"  # use to keep same name in target
    #target_col_alias: "Pressure"  # use to keep same name in target
    subset_dir: inputs/drivaer_net/subset

environment:
  cuda: true
  device_id: [ 0, 1 ]
  seed: 1
  num_workers: 16

# below parameters can be override by hyper_parameters.csv file
parameters:
  data:
    dataset: DrivAerNet
    data_id_load_random: true  # load ids based on the dataset randomly
    max_total_samples: 4000 # use when data_id_load_random: true
    train_ratio: 0.8 # use when data_id_load_random: true
    val_ratio: 0.1 # use when data_id_load_random: true and k_folds=0
    test_ratio: 0.1 # use when data_id_load_random: true
    k_folds: 1 # use when data_id_load_random: true
    training_size: 350  # use when data_id_load_random: false
    validation_size: 75  # use when data_id_load_random: false
    test_size: 75 # use when data_id_load_random: false
    num_points: 100000
  model:
    lr: 0.001
    batch_size: 2
    epochs: 200
    dropout: 0.0
    emb_dims: 1024
    k: 40
    optimizer: adam
    conv_layers:
      - 3
      - 64
      - 128
      - 256
      - 512
      - 1024
      - 2048
    fc_layers:
      - 2048
      - 1024
      - 256
      - 1
    output_channels: 1
    point_transformer:
      in_channels: 3
      grid_size: 0.01
      use_all_features: false
      order: ["z", "z-trans", "hilbert", "hilbert-trans"]
      stride: [2, 2, 2, 2]
      enc_depths: [2, 2, 2, 6, 2]
      enc_channels: [32, 64, 128, 256, 512]
      enc_num_head: [2, 4, 8, 16, 32]
      enc_patch_size: [1024, 1024, 1024, 1024, 1024]
      dec_depths: [2, 2, 2, 2]
      dec_channels: [64, 64, 128, 256]
      dec_num_head: [4, 4, 8, 16]
      dec_patch_size: [1024, 1024, 1024, 1024]
      mlp_ratio: 4
      drop_path: 0.1
      attn_drop: 0.0
      proj_drop: 0.0
      enable_flash: false
      enable_rpe: false
      upcast_attention: false
      upcast_softmax: false
      cls_mode: false
      head:
        drag:
          hidden_dims: [256, 128]
          dropout: 0.1
          pooling: mean
        pressure:
          hidden_dims: [128]
          dropout: 0.1

outputs:
  log_path: outputs/logs
  preprocessed_data: outputs/preprocessed_data
  model:
    best_model_path: outputs/models
    best_scores_path: outputs/scores

predictor:
  enable: false
  test_stl_path: inputs/drivaer_net/test_stl
  test_target_path: inputs/drivaer_net/test_targets.csv
  #best_model_path: outputs/models/20250504_pressure_l2_sr_DrivAerNet_PointNet_SimplePointNet_ds500_bs16_epochs300_pts100000_lr0.001_drop0.3_[3:64:128:256:512:1024:2048]_[2048:1024:256:1]_best_model.pth
  #best_model_path: outputs/models/20250430_80_20_test_DrivAerNet_PointNet_SimplePointNet_ds1000_bs16_epochs300_pts100000_lr0.001_drop0.3_[3:64:128:256:512:1024:2048]_[2048:1024:256:1]_best_model.pth
  #best_model_path: outputs/models/20250430_80_20_test_DrivAerNet_PointNet_SimplePointNet_ds500_bs16_epochs300_pts100000_lr0.001_drop0.3_[3:64:128:256:512:1024:2048]_[2048:1024:256:1]_best_model.pth
  #best_model_path: outputs/models/20250701_fixed_r2_test_DrivAerNet_PointNet_SimplePointNet_ds500_bs16_epochs300_pts100000_lr0.001_drop0.3_[3:64:128:256:512:1024:2048]_[2048:1024:256:1]_best_model.pth
  best_model_path: outputs/models/20250707_mix_dataset_DrivAerNet_PointNet_SimplePointNet_ds500_bs16_epochs300_pts100000_lr0.001_drop0.3_[3:64:128:256:512:1024:2048]_[2048:1024:256:1]_best_model.pth
  test_file_path: outputs/subset_dynamic/pressure_l2_sr/test_design_ids_4000.txt
  test_output_path: outputs/predictions/
  
